@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $primary;

      &:before {
        transform: translateX(26px);
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $primary;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $gray-500;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $gray-100;
    transition: .4s;
  }

  &-rounded {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}