@import "bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.github {
  color: $purple;
  
  &:hover {
    color: darken($purple, 15%);
  }
}

.text-size-sm {
  font-size: 0.85rem;
}

.mh-60 {
  max-height: 60vh;
}

@media (min-width: 992px) {
  .position-lg-fixed {
    position: fixed;
  }
}