@import "bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.github {
  color: $purple;
  
  &:hover {
    color: darken($purple, 15%);
  }
}

.text-size-sm {
  font-size: 0.85rem;
}

.mh-60 {
  max-height: 60vh;
}

blockquote {
  padding: 10px 10px 10px 18px;
  border-left: 7px solid $primary;
  background-color: $light;

  p {
    margin: 0;
    padding: 0;
  }
}

pre {
  background-color: $light !important;
}

@media screen and (max-width: 576px) {
  .bg-sm-dark {
    background-color: $dark;
    color: $light;

    a {
      color: $teal;
    }
  }
}

@media screen and (min-width: 992px) {
  .position-lg-fixed {
    position: fixed;
  }
}