@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin-top: 64px;
}

.container-fluid {
  .card-columns {
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
    @include media-breakpoint-only(xs) {
      column-count: 1;
    }
  }
}